body{
    background-image: url('assets/weather-image.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    justify-content: center;
    height: 97.5vh;
}

#app{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    color: #f0d43a;
    font-size: 1.25rem;
    font-family: 'Oswald', sans-serif;
    border: solid rgb(227, 227, 227);
    border-radius: 1em;
    background-color: rgb(253, 253, 253);
    padding: 1em;
    gap: 0.5em;
}

.entry{
    border: solid rgb(227, 227, 227);
    border-radius: 1em;
    background-color: rgba(253, 253, 253, 0.845);
    padding: 0.5em;
}

#entryHolder{
    border-top: solid #3b4a6b;
}

#date{
    color: #3b4a6b;
}

#temp{
    color: #3b4a6b;
}

#content{
    color: #3b4a6b;
    padding: 0 0.5em;
    border: solid #3b4a6b;
    margin-top: 0.5em;
    border-radius: 0.25em;
    text-align: justify;
}

#flexContainer {
    display: flex;
    gap: 1em;
    margin-top: 0.5em;
    border: solid;
    border-radius: 0.25em;
    padding-left: 0.5em;
}

.headline {
    margin: auto;
    font-size: 2em;

}
.title{
    font-size: 27px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

select{
    display:block;
    width: -webkit-fill-available;
    background:#22b2da;
    color: #f0d43a;
    font-size: 1.25rem;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 0.25em;
    padding-left: 0.5em;
}

button{
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    height: fit-content;
    width: -webkit-fill-available;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 1.25rem;
    font-family: 'Oswald', sans-serif;
    border-radius: 0.25em;
    padding-left: 0.5em;
    height: fit-content;
    width: -webkit-fill-available;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 

@media (min-width: 600px) and (max-width:900px) {
    #app{
        width: 70%;
    }
}

@media (min-width:901px) {
    #app{
        width: 55%;
    }
}